day15/CoffeeMachine/.idea/workspace.xml
day16/.idea/workspace.xml
day16/__pycache__/coffee_maker.cpython-313.pyc
day16/__pycache__/menu.cpython-313.pyc
day16/__pycache__/money_machine.cpython-313.pyc
day16/.idea/vcs.xml
day16/.idea/modules.xml
day16/.idea/misc.xml
day16/.idea/inspectionProfiles/profiles_settings.xml
day16/.idea/day16.iml
day15/.idea/vcs.xml
day15/.idea/modules.xml
day15/.idea/misc.xml
day15/.idea/inspectionProfiles/profiles_settings.xml
day15/.idea/day15.iml
day17/.idea/inspectionProfiles/profiles_settings.xml
day17/.idea/day17.iml
day17/.idea/misc.xml
day17/.idea/modules.xml
day17/.idea/vcs.xml
day17/__pycache__/data.cpython-313.pyc
day17/__pycache__/question_model.cpython-313.pyc
day17/__pycache__/quiz_brain.cpython-313.pyc
day18/.idea/inspectionProfiles/profiles_settings.xml
day18/.idea/day18.iml
day18/.idea/misc.xml
day18/.idea/modules.xml
day18/.idea/vcs.xml
day19/.idea/day19.iml
day19/.idea/inspectionProfiles/profiles_settings.xml
day19/.idea/misc.xml
day19/.idea/modules.xml
day19/.idea/vcs.xml
day20/__pycache__/snake.cpython-313.pyc
day20/.idea/inspectionProfiles/profiles_settings.xml
day20/.idea/misc.xml
day20/.idea/vcs.xml
day20/__pycache__/scoreboard.cpython-313.pyc
day20/__pycache__/food.cpython-313.pyc
day21/__pycache__/snake.cpython-313.pyc
day21/.idea/inspectionProfiles/profiles_settings.xml
day21/.idea/misc.xml
day21/.idea/vcs.xml
day21/__pycache__/food.cpython-313.pyc
day21/__pycache__/scoreboard.cpython-313.pyc
day22/.idea/day22.iml
day22/.idea/inspectionProfiles/profiles_settings.xml
day22/.idea/misc.xml
day22/.idea/modules.xml
day22/.idea/vcs.xml
day22/__pycache__/ball.cpython-313.pyc
day22/__pycache__/paddle.cpython-313.pyc
day22/__pycache__/scoreboard.cpython-313.pyc
day23/.idea/day23.iml
day23/.idea/inspectionProfiles/profiles_settings.xml
day23/.idea/misc.xml
day23/.idea/modules.xml
day23/.idea/vcs.xml
day23/__pycache__/car_manager.cpython-313.pyc
day23/__pycache__/player.cpython-313.pyc
day23/__pycache__/scoreboard.cpython-313.pyc
day21/.idea/modules.xml
day21/.idea/day21.iml
day24/.idea/day24.iml
day24/.idea/vcs.xml
day24/.idea/modules.xml
day24/.idea/misc.xml
day24/.idea/inspectionProfiles/profiles_settings.xml
day24/__MACOSX/._Mail Merge Project Start
day24/__MACOSX/Mail Merge Project Start/._.DS_Store
day24/__MACOSX/Mail Merge Project Start/._Input
day24/__MACOSX/Mail Merge Project Start/._main.py
day24/__MACOSX/Mail Merge Project Start/._Output
day24/__MACOSX/Mail Merge Project Start/Input/._.DS_Store
day24/__MACOSX/Mail Merge Project Start/Input/._Letters
day24/__MACOSX/Mail Merge Project Start/Input/._Names
day24/__MACOSX/Mail Merge Project Start/Input/Letters/._starting_letter.txt
day24/__MACOSX/Mail Merge Project Start/Input/Names/._invited_names.txt
day24/__MACOSX/Mail Merge Project Start/Output/._.DS_Store
day24/__MACOSX/Mail Merge Project Start/Output/._ReadyToSend
day24/__MACOSX/Mail Merge Project Start/Output/ReadyToSend/._example.txt
day24/Mail Merge Project Start/.DS_Store
day24/Mail Merge Project Start/Input/.DS_Store
day24/new_file.txt
day24/my_file.txt
day24/main.py
day24/Mail Merge Project Start/Output/.DS_Store
day25/.idea/day25.iml
day25/.idea/inspectionProfiles/profiles_settings.xml
day25/.idea/misc.xml
day25/.idea/modules.xml
day25/.idea/vcs.xml
day25/__pycache__/create_state.cpython-313.pyc
