day15/CoffeeMachine/.idea/workspace.xml
day16/.idea/workspace.xml
day16/__pycache__/coffee_maker.cpython-313.pyc
day16/__pycache__/menu.cpython-313.pyc
day16/__pycache__/money_machine.cpython-313.pyc
