day15/CoffeeMachine/.idea/workspace.xml
day16/.idea/workspace.xml
day16/__pycache__/coffee_maker.cpython-313.pyc
day16/__pycache__/menu.cpython-313.pyc
day16/__pycache__/money_machine.cpython-313.pyc
day16/.idea/vcs.xml
day16/.idea/modules.xml
day16/.idea/misc.xml
day16/.idea/inspectionProfiles/profiles_settings.xml
day16/.idea/day16.iml
day15/.idea/vcs.xml
day15/.idea/modules.xml
day15/.idea/misc.xml
day15/.idea/inspectionProfiles/profiles_settings.xml
day15/.idea/day15.iml
